mixin button(mods, label)
  -
    if (typeof (options) === "undefined") {
        var options = {}
    }
    var allMods = "";
    if (typeof(options) !== "undefined" && mods) {
        var modList = mods.split(",");
        for (var i = 0; i < modList.length; i++) {
            allMods = allMods + " btn_" + modList[i].trim()
        }
    }

  button.btn(class= allMods)&attributes(attributes)= label