@font-face {
	font-family: 'Material Icons';
	src: url('/assets/fonts/MaterialIcons-Regular.ttf');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Awesome';
	src: url('/assets/fonts/Awesome.ttf');
	font-weight: normal;
	font-style: normal;
}