// Fonts

$rubikMain        : "Rubik 400", sans-serif;
$rubikMedium      : "Rubik 500", sans-serif;
$rubikBold        : "Rubik 700", sans-serif;
$materialIcons    : "Material Icons", sans-serif;
$awesome          : "Awesome", sans-serif;
